snippet thm 
	\\begin{thm}
		${1}
	\\end{thm}

snippet cor 
	\\begin{cor}
		${1}
	\\end{cor}

snippet lem 
	\\begin{lem}
		${1}
	\\end{lem}

snippet defn 
	\\begin{defn}
		${1}
	\\end{defn}

snippet ex 
	\\begin{ex}
		${1}
	\\end{ex}

snippet enum
	\\begin{enumerate}
		\\item ${1}
	\\end{enumerate}

snippet item 
	\\begin{itemize}
		\\item ${1}
	\\end{itemize}
